/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página A*/
body {
    font-family: "Chakra Petch", sans-serif;
    /* Define a fonte padrão */
    background-image: url(fotos/background-body1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* Usa Flexbox para layout */
    flex-direction: column;
    /* Alinha os itens na vertical */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.384); /* Cor de sobreposição preta com 30% de opacidade */
    z-index: -1; /* Garante que a camada de sobreposição fique atrás do conteúdo */
}


/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem;
    /* Tamanho da fonte */
    color: #62c562;
    /* Cor do texto */
    text-align: center;
    /* Alinha o texto ao centro */
    letter-spacing: 0.4rem;
    /* Espaçamento entre letras */
}

/* Estiliza as seções da página */
section {
    display: flex;
    /* Usa Flexbox para layout */
    flex-direction: column;
    /* Alinha os itens na vertical */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem;
    /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem;
    /* Largura dos inputs */
    border: none;
    /* Remove a borda padrão */
    padding: 1rem;
    /* Espaçamento interno */
    border-radius: 1.5rem;
    /* Borda arredondada */
    margin-bottom: 1rem;
    /* Espaçamento abaixo dos inputs */
    color: #f0f3f0;
    /* Cor do texto */
    font-size: 1rem;
    /* Tamanho da fonte */
    box-sizing: border-box;
    /* Inclui padding e border na largura total */
    background-color: #8fb99777;
}

input::placeholder {
    color: #ffffff;
}


/* Estiliza os botões dentro das seções */
section button {
    padding: 1rem 1rem;
    /* Espaçamento interno do botão */
    border: none;
    /* Remove a borda padrão */
    border-radius: 1.5rem;
    /* Borda arredondada */
    background-color: #1f46269f;
    /* Cor de fundo do botão */
    color: #F5F7F8;
    /* Cor do texto do botão */
    font-size: 1rem;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    margin-left: 0.3rem;
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #204627c7;
    /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adiciona uma sombra mais intensa */
}


/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem;
    /* Largura máxima da caixa de resultados */
    height: 46vh;
    /* Altura máxima da caixa de resultados */
    overflow-y: auto;
    /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem;
    /* Espaçamento acima da caixa de resultados */
    padding: 1rem;
    /* Espaçamento interno */
    border-radius: 0.6rem;
    /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #20462777;
    /* Cor de fundo dos itens */
    border-radius: 0.6rem;
    /* Borda arredondada */
    padding: 1rem;
    /* Espaçamento interno */
    margin-bottom: 1rem;
    /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem;
    /* Tamanho da fonte */
    color: #222831;
    /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none;
    /* Remove o sublinhado padrão dos links */
    color: #62c562;
    /* Cor do texto dos links */
}



/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: rgb(255, 255, 255);
    margin: 0.5rem 0;
    text-align: justify;
    font-weight: bold;
    
}



.resultados-pesquisa::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Estiliza o "polegar" da barra de rolagem (a parte que você arrasta) */
.resultados-pesquisa::-webkit-scrollbar-thumb {
    background-color:  #2c5233; /* Cor de fundo do polegar */
    border-radius: 10px; /* Borda arredondada do polegar */
}

/* Estiliza a área de "trilho" da barra de rolagem (o fundo da barra) */
.resultados-pesquisa::-webkit-scrollbar-track {
    background-color:  #86d19377; /* Cor de fundo da área de trilho */
    border-radius: 10px; /* Borda arredondada da área de trilho */
}

/* Estiliza a barra de rolagem quando o usuário está passando o mouse sobre ela */
.resultados-pesquisa::-webkit-scrollbar-thumb:hover {
    background-color: #1a411a; /* Cor de fundo do polegar ao passar o mouse */
}


/* PARTE DO LINK DO GITHUB E ALURA*/

.linkcopy {
    text-decoration: none;
    color: rgb(189, 188, 188);
    font-weight: bold;
}

.linkcopy:hover {

    text-decoration: underline;
}


/*notficação usando java*/
/* Estiliza a notificação */
.notification {
    position: fixed;
    /* Fixa a notificação na tela */
    top: 10px;
    /* Distância do topo da página */
    right: 10px;
    /* Distância da direita da página */
    background-color: #20462777;
    /* Cor de fundo da notificação */
    color: #ffffff;
    /* Cor do texto */
    padding: 1rem;
    /* Espaçamento interno */
    border-radius: 0.5rem;
    /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra */
    font-size: 1rem;
    /* Tamanho da fonte */
    z-index: 1000;
    /* Garante que a notificação fique acima de outros elementos */
    margin-bottom: 50px}

    /*AREA DO GIF*/

    .gif-contanier {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
         /* Define a altura desejada do container para o GIF */
        overflow: hidden; /* Garante que o GIF não saia do container */
        animation: meugif 10s infinite linear;
    }
    
    .gif-contanier a img {
        /* Ajusta a largura do GIF para preencher o container */
        height: 50px; /* Mantém a proporção do GIF */
    }
    
    @keyframes meugif {
        from {
            transform: translateX(0%); /* Começa fora da tela à esquerda */
        }
        to {
            transform: translateX(100%); /* Move até fora da tela à direita */
        }
    }
    


/* Estiliza o rodapé da página */
footer {
    background-color: #20462791;
    /* Cor de fundo do rodapé */
    color: #ffffff;
    /* Cor do texto */
    text-align: center;
    /* Alinha o texto ao centro */
    padding:0;
    /* Espaçamento interno */
    width: 100%;
    /* Largura total da página */
    position: absolute;
    /* Posiciona o rodapé */
    bottom: 0;
    /* Alinha ao fundo da página */
    font-size: 1rem;
    /* Tamanho da fonte */
    font-weight: 500;
    z-index: 1;

}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem;
        /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem;
        /* Largura dos inputs em telas menores */
        padding: 0.8rem;
        /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem;
        /* Largura da caixa de resultados em telas menores */
        height: 40vh;
        /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem;
        /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem;
        /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem;
        /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem;
        /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem;
        /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem;
        /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%;
        /* Largura da caixa de resultados em telas pequenas */
        height: 50vh;
        /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem;
        /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem;
        /* Tamanho da fonte do rodapé em telas pequenas */
    }
}