*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}

.game{
    width: 100%;
    height: 100vh;
    border-bottom: 30px solid rgb(55, 107, 62);
    background :linear-gradient(rgb(14, 210, 236),rgb(254, 255, 254));
    position: relative;
    overflow: hidden;
}

.logo{
    width:250px ;
    margin-left: 45%;
    position: absolute;
}
.coala{
    width: 130px;
    position: absolute;
    bottom:0;
}
.botao{
    position: absolute;
    border-radius:10px;
    background-color: rgba(20, 75, 20, 0.527);
    margin-top: 50px;
    height: 50px;
    margin-left: 50px;
}

.pulo{
    animation: pulo 500ms ease-out;
}
.obstaculo{
    position: absolute;
    bottom: 0;
    width: 90px;
    animation: obstaculo-animation 1.5s infinite linear;
}
.nuvem{
    position: absolute;
    width:550px;
    margin-top: 250px;
    animation: nuvem-animation  5s infinite linear;
}





@keyframes pulo {
    0%{
        bottom: 0;
    }

    40%{
        bottom:170px;
    }

    50%{
        bottom:170px;
    }

    60%{
        bottom:170px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes obstaculo-animation {
    from{
        right: -90px;
    }

    to{
        right: 100%;
    }
}

@keyframes nuvem-animation {
    from{
    right: -550px;
    }

    to{
     right: 100%;
    }
}
